body {
    background-color: black;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

.navbar {
    background-color: black;
    color: white;
}

.navbar .nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar .nav-link:hover {
    color: yellow;
}

.card {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.card-header {
    color: white;
    border-bottom: 2px solid white;
}

.table {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.table th {
    background-color: yellow !important;
    color: black !important;
}

.table td {
    background-color: black;
}

.btn-primary {
    background-color: yellow;
    color: black;
}

.btn-secondary {
    background-color: black;
    color: yellow;
    border: 2px solid white;
}

.btn-primary, .btn-secondary, .btn-warning, .btn-danger {
    font-weight: 900;
}

.btn-primary:hover, .btn-secondary:hover, .btn-warning:hover, .btn-danger:hover, .btn-info:hover {
    background-color: black;
    color: white;
    border: 2px solid yellow;
    transform: scale(1.1);
}

a:hover {
    color: yellow;
}
